<header>
    <title>404!</title>
    <style type="text/css">
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-width: 100%;
            max-height: 100%;
        }
        </style>
    </header>
    <body>

<center>

    <h1> Page not found! </h1>
    <div class='container'>
        <a href='#'>
        <img class='resize'
          src='/static/Images/404.jpg' />
        </a>
    </div>
    