<header>
    <title>500!</title>
    <style type="text/css">
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-width: 100%;
            max-height: 100%;
        }
        </style>
    </header>
    <body>

<center>

    <h1> Server error! </h1>
    <div class='container'>
        <a href='#'>
        <img class='resize'
          src='static/500.jpg' />
        </a>
    </div>
    